/* ========================================================================
                        common-css-part-start
=========================================================================== */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6,ul,ol,li,p{
    padding: 0;
    margin: 0;
}
/* ========================================================================
                        common-css-part-end
=========================================================================== */


/* ========================================================================
                        header-part-start
=========================================================================== */
.main-menu{
    background: #02918c;
}

.main-menu .navbar-brand h4{
    color: #ffffff;
    font-size: 26px;
    font-weight: 800;
    padding: 18px 0;
}

.main-menu .navbar-brand h4 span{
    color: #cfc91d;
}

.main-menu ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 33px;
    position: relative;
}

.main-menu ul li a::after {
	position: absolute;
	content: '';
	left: 0;
	top: -17px;
	height: 2px;
	width: 0;
	background: #ffffff;
	transition: all linear 0.4s;
	-webkit-transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-ms-transition: all linear 0.4s;
	-o-transition: all linear 0.4s;
}


.main-menu ul li a:hover::after{
    width: 100%;
}

.main-menu ul li a:hover{
    color: #ffffff;
}
/* ========================================================================
                        header-part-end
=========================================================================== */


/* ========================================================================
                        h-part-start
=========================================================================== */
.banner-img{
    padding:210px 0 ;
}

.banner-text h3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

.banner-text h1{
    color: #ffffff;
    font-size: 68px;
    font-weight: 800;
}

.banner-text p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 45px;
}

.banner-text img{
    display: block;
    margin: 0 auto;
    margin-bottom: 52px;
}

.banner-text a{
    color: #0b1016;
    font-size: 14px;
    font-weight: 800;
    padding: 20px 40px;
    background: #cfc91d;
}
/* ========================================================================
                        banner-part-end
=========================================================================== */


/* ========================================================================
                        banner-part-start
=========================================================================== */
#about{
    padding: 95px 0 155px;
}

.comon-head h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
}

.comon-head img{
    margin-top: 10px;
}

.about-text1{
    margin-top: 25px;
}

.about-text1 p {
	color: #7e8287;
	font-size: 16px;
	font-weight: 400;
	line-height: 41px;
	padding-left: 17px;
}

.about-text1 p span{
    font-size: 23px;
    font-weight: 800;
}

.about-menu-1 {
	margin-top: 107px;
}

.about-menu-1 i{
    font-size: 32px;
    color: #a5d8d6;
    margin-bottom: 25px;
}

.about-menu h4{
    color: #7e8287;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 25px;
}

.about-menu p{
    color: #7e8287;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}
/* ========================================================================
                        about-part-end
=========================================================================== */


/* ========================================================================
                        about-part-start
=========================================================================== */
.sarimg{
    padding: 70px 0 85px;
}

.sar-text1 p{
    color: #7e8287;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    padding-top: 15px;
}

.sar-text-2{
    margin-top: 55px;
}

.sar-text-2 i{
    font-size: 32px;
    color: #02918c;
    margin-bottom: 5px;
}

.sar-text-2 h3{
    color: #7e8287;
    font-size: 16;
    font-weight: 800;
}

.sar-text-2 p{
    color: #7e8287;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}
/* ========================================================================
                        sarvic-part-end
=========================================================================== */


/* ========================================================================
                        sarvi-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */


/* ========================================================================
                        work-part-start
=========================================================================== */
#work{
    padding: 110px 0 70px;
}

.work-text1 p{
    color: #7e8287;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    padding-top: 15px;
}

.work-img ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.work-img ul li{
	width: 25%;
    position: relative;
}

.ovarly h3{
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
}

.ovarly p{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.work-img ul li .ovarly{
    position: absolute;
    text-align: center;
    color: #ffffff;
    padding: 50px 40px;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background: hsla(178, 97%, 29%, 0.85);
    opacity: 0;
    transition:  all linear 0.4s;
    -webkit-transition:  all linear 0.4s;
    -moz-transition:  all linear 0.4s;
    -ms-transition:  all linear 0.4s;
    -o-transition:  all linear 0.4s;
}

.work-img ul li:hover .ovarly{
    opacity: 1;
}

.workk {
	padding-top: 90px;
}

.tt {
	padding: 0 55px;
}
/* ========================================================================
                        work-part-end
=========================================================================== */


/* ========================================================================
                        footer-part-start
=========================================================================== */
.footer-top{
    padding: 70px 0;
    background: #0b0b0b;
}

.foot-text form label{
    color: #f1f1f1f1;
    font-size: 16px;
    font-weight: 400;
}

.foot-text form input{
    width: 630px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 60px;
}

.foot-text form textarea{
    width: 940px;
    background: transparent;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 90px;
}

.footer-bottom{
    padding: 35px 0;
    background: #000000;
}

.foot-2 p{
    color: #7e8287;
    font-size: 12px;
    font-weight: 400;
}
/* ========================================================================
                        footer-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */

/* ========================================================================
                        h-part-start
=========================================================================== */

/* ========================================================================
                        h-part-end
=========================================================================== */